<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {%endblock%}</title>
</head>>
<body>
    <div style="height: 100px; background: #ccc; width: 100%;">
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/produtos">produtos</a></li>
            <li><a href="/perfil">perfil</a></li>
        </ul>
    </div>

    {% block conteudo %} {% endblock %}

    <div style="height: 100px; background: black; color: white; width: 100%;">
        <p>Rodapé</p>
    </div>

  
</html>